<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

  <div fxFlex="40">
      <div fxFlex> 
        <md-card *ngIf="dish">
            <md-card-header>
                <md-card-title>
                  <h3>{{dish.name | uppercase}}</h3>
                </md-card-title>
              </md-card-header>
              <img md-card-image src={{dish.image}} alt={{dish.name}}>
              <md-card-content>
                <p>{{dish.description}}
                </p>
              </md-card-content>
              <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
              </md-card-actions>
        </md-card>
      </div>  
  </div> 

  <div fxFlex="40">
    <div fxFlex>  
            <md-list *ngIf="dish"> 
                <h3>Comments</h3>
                <md-list-item *ngFor="let comment of dish.comments">
                    <p mdLine> {{comment.comment}} </p>
                    <p mdLine> {{comment.rating}} Stars </p>
                    <p mdLine> -- {{comment.author}} {{comment.date | date : "MMM d, yyyy"}}</p>
                </md-list-item>
            </md-list>
      </div>       
  </div> 


</div>